.main {
  background: var(--mainboard-color);
  border-radius: 30px;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  height: fit-content;
  box-shadow: 1px 3px 8px 1px var(--shadow);
}

/* grid item 1 */
.itemMain1 {
  margin: auto;
  margin-top: 5%;
  height: fit-content;
}

.text-change {
  color: var(--alternative);
}

.text-small {
  font-size: small;
}

.text-button {
  border-bottom: 1px var(--secundary) solid;
  border-bottom-left-radius: 22%;
  border-bottom-right-radius: 22%;
  font-size: small;
  margin-left: 2px;
}
.circles {
  position: absolute;
}

.circle {
  transform: rotate3d(10, 0, -10, 35deg);
  border: 4px var(--alternative) solid;
  opacity: 0.4;
  position: relative;
  border-radius: 100%;
  border-left: 0;
  border-right: 0;
}
.account2 {
  background: var(--light-primary);
  box-shadow: 2px 4px 8px 1px var(--shadow);
  border: 0px;
  margin-inline: 5px;
  margin-bottom: 5%;
}

.text-account2 {
  margin-inline: 10px;
  color: var(--text-color);
}

/* grid item 2 */
.itemMain2 {
  background-color: var(--secundary);
  background-image: var(--character);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding-bottom: 60%;
  background-size: 60%;
}

.text-time {
  background: white;
  margin: auto;
  border-radius: 55px;
  width: 65%;
  color: var(--secundary);
  position: relative;
}
.add-icon {
  color: black;
  background: white;
  opacity: 0.5;
  left: -15px;
  bottom: 50%;
  padding: 4%;
  border-radius: 100%;
  position: absolute;
}

.btn-join {
  color: var(--dark-secundary);
}

.fortnite {
  margin-top: 10%;
  color: white;
}

.space-text {
  margin-bottom: 15%;
}

/* grid item 3 */

.itemMain3 {
  margin-left: 5%;
  margin-right: 5%;
  height: fit-content;
  margin-top: 5%;
}

.tag-number {
  color: var(--font-color);
  opacity: 0.6;
}

.section-platform {
  background: var(--primary);
  padding: 2%;
  border-radius: 45px;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 100%;
  display: flex;
}
.section-game {
  position: relative;
  background: var(--primary);
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.btn-platform {
  display: inline;
  background: transparent;
  color: var(--font-color);
  opacity: 0.6;
  padding: 5%;
  margin: 0;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.icon-btn{
  margin-right: 2%;
}

.btn-platform:hover {
  opacity: 1;
  background: var(--mainboard-color);
  box-shadow: 2px 1px 7px 1px var(--shadow);
}

.search-input {
  background: transparent;
  color: var(--font-color);
  font-size: large;;
  float: left;
  width: 80%;
}

.order-button {
  float: right;
  color: var(--font-color);
  opacity: 0.3;
  font-size: large;
  margin-block: 5%;
}

.order-user {
  background: var(--dark-primary-alternative);
  padding: 3%;
  border-radius: 100%;
  color: var(--font-color);
  font-weight: bold;
  margin-right: 3px;
}

.name-user {
  margin-right: 3px;
}

.avatar-user {
  padding: 7%;
  background-color: var(--alternative);
  border-radius: 14px;
  margin-left: 20%;
}
.B {
  margin-left: -7px !important;
  background-color: var(--secundary);
}

.userJoin-btn {
  padding: 10%;
  background: var(--light-primary);
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
}

.part1 {
  grid-column-start: 1;
}

.part2 {
  grid-column-start: 4;
  grid-column-end: 8;
}

.part3 {
  grid-column-start: 12;
}

.search-button {
  background: var(--font-color);
  padding: 1%;
  border-radius: 10px;
  color: var(--font-color-alternative);
  font-size: medium;
}
.search-container {
  overflow-y: scroll;
}
.divider-section-search {
  border: 1px solid var(--light-primary);
  opacity: 0.5;
  height: 0.1px;
  top: 0;
  width: 99.9%;
}
