
.navbarItems {
  margin: 2%;
  column-gap: 0%;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  text-align: center;
}

.btn-home {
  color: var(--secundary);
  border: 0.7px var(--secundary);
  border-style: groove;
  border-radius: 90%;
  padding: 2%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top: 0px;
}

.btn {
  opacity: 0.3;
}

.text-account {
  color: white;
}
