/* test
Telefono		A/A	
iPhone 3GS	320 x 480
Samsung Galaxy S	480 x 800 +5 more phones
Motorola Droid	480 x 854	
Motorola Droid	540 x 960 +1 more phones
iPhone 4 (4, 4S) 640 x 960
iPhone 5 (5c, 5s)	640 x 1136
Samsung Galaxy Nexus	720 x 1280 +6 more phones
iPhone 6 6S	750 x 1334
Nokia Lumia 920	768 x 1280
Samsung Galaxy Note	800 x 1280
iPhone XR	828 x 1792 +1 more phones
iPhone 6 Plus 7plus	1080 x 1920 +18 more phones
Google Pixel 3	1080 x 2160	
Xiaomi Mi 8	1080 x 2248	
OnePlus 6	1080 x 2280
iPhone XS	1125 x 2436 +1 more phones
iPhone XS Max	1242 x 2688 +1 more phones
iPhone 7	1334 x 750 +1 more phones
**Samsung Galaxy S6	1440 x 2560 +10 more phones
**LG G6	1440 x 2880 +1 more phones	
**Samsung Galaxy S9	1440 x 2960 +4 more phones
iPhone 6S Plus	1920 x 1080 +5 more phones
iPhone X	2046 × 1125	
Huawei Mate 10 Plus	2.160 x 1.080	
LG G4	2560 x 1440 +2 more phones
Samsung Galaxy S8	2960 x 1440
 */

/*  *360×640 (móvil pequeño): 22,64%.
    *375×667 (móvil medio): 5%.
    *720×1280 (móvil grande): 2,74%.
    *1366×768 (ordenador portátil medio): 11,98%.
    *1440×900 (escritorio medio): 3,17%.
    *1600×900 (escritorio medio): 3,17%.
    *1080x2400 xiaomi redmi note 10
    *1920×1080 (escritorio grande): 7,35%. */

/* responsive */

@media (max-width: 320px) {
  /* app */
  button {
    font-size: 0.6rem;
  }

  .title-span {
    font-size: large;
  }

  #switch {
    width: 30%;
    height: 25%;
    margin-bottom: 5%;
  }

  /* mainboard */
  .main {
    grid-template-columns: 1fr;
  }

  /* grid item 1 */
  .itemMain1 {
    font-size: 2rem;
  }
  .circles {
    margin-left: 15%;
  }

  .circle {
    width: 40%;
    margin-top: -4%;
  }
  /* grid item 2 */

  .itemMain2 {
    background-size: 40%;
  }
  .add-icon {
    font-size: xx-small;
  }

  /* categories */

  .grid-category {
    grid-template-columns: 1fr;
  }

  .title-login {
    margin-left: -15%;
  }
}
@media (max-width: 360px) {
  /* app */
  button {
    font-size: 0.6rem;
  }

  .title-span {
    font-size: large;
  }

  #switch {
    width: 30%;
    margin-bottom: 5%;
  }

  /* mainboard */
  .main {
    grid-template-columns: 1fr;
  }

  /* grid item 1 */
  .itemMain1 {
    font-size: 2rem;
  }

  .circles {
    margin-left: 12%;
    margin-top: 10%;
  }

  .circle {
    width: 62%;
    margin-top: -16%;
  }
  /* grid item 2 */

  .itemMain2 {
    background-size: 40%;
  }
  .add-icon {
    font-size: xx-small;
  }

  /* categories */

  .grid-category {
    grid-template-columns: 1fr;
  }
  .title-login {
    margin-left: -15%;
    position: absolute;
  }
}
@media (min-width: 360px) {
  /* app */
  button {
    font-size: 0.6rem;
  }

  .title-span {
    font-size: large;
  }

  #switch {
    width: 30%;
    margin-bottom: 5%;
  }

  /* mainboard */
  .main {
    grid-template-columns: 1fr;
  }

  /* grid item 1 */
  .itemMain1 {
    font-size: 2rem;
  }

  .circles {
    margin-left: 12%;
    margin-top: 10%;
  }

  .circle {
    width: 62%;
    margin-top: -16%;
  }
  /* grid item 2 */

  .itemMain2 {
    background-size: 40%;
  }
  .add-icon {
    font-size: xx-small;
  }

  /* categories */

  .grid-category {
    grid-template-columns: 1fr;
  }
  .title-login {
    margin-left: -15%;
    position: absolute;
  }
}

@media (min-width: 480px) {
  .circles {
    margin-left: 6%;
  }
  .circle {
    margin-top: -20%;
  }
}
@media (min-width: 540px) {
  .circles {
    margin-top: 10%;
    margin-left: 2%;
  }
}
@media (min-width: 640px) {
  .circles {
    margin-left: -1%;
    margin-top: 14%;
  }
  .circle {
    margin-top: -26%;
  }
  .grid-category {
    grid-template-columns: 1fr 1fr;
  }
  .title-login {
    margin-left: -9%;
  }
}
@media (min-width: 720px) {
  /* app */
  button {
    font-size: small;
  }

  .title-span {
    font-size: x-large;
  }

  #switch {
    width: 20%;
  }

  /* mainboard */

  /* grid item 1 */
  .itemMain1 {
    font-size: 4rem;
  }

  .circles {
    margin-left: 1%;
    margin-top: 7%;
  }
  .circle {
    margin-top: -16%;
  }
  /* categories */

  .grid-category {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 828px) {
  .circle {
    margin-top: -28%;
  }
  .circles {
    margin-top: 14%;
  }
}
@media (min-width: 1080px) {
  /* app */
  button {
    font-size: medium;
  }

  .title-span {
    font-size: xx-large;
  }

  #switch {
    width: 15%;
    height: 35%;
  }

  /* mainboard */

  /* grid item 1 */

  .circles {
    margin-left: -5%;
    margin-top: 14.5%;
  }
}

@media (min-width: 1242px) {
  .circles {
    margin-left: -7%;
    margin-top: 18%;
  }
  .circle {
    margin-top: -34%;
  }
}

@media (min-width: 1334px) {
  .circles {
    margin-left: -1%;
    margin-top: 5%;
  }
  .circle {
    margin-top: -2%;
    width: 37%;
  }
}
@media (min-width: 1366px) {
  /* app */
  button {
    font-size: medium;
  }

  .title-span {
    font-size: xx-large;
  }

  #switch {
    width: 15%;
  }

  /* mainboard */

  .circles {
    margin-top: 3%;
    margin-left: -1%;
  }
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* grid item 2 */
  .itemMain2 {
    background-size: 70%;
  }
  /* categories */

  .grid-category {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .box-text {
    font-size: 1.2rem;
  }

  .box-index {
    font-size: medium;
  }
  .custom-color {
    font-size: x-large;
  }
}

@media (min-width: 1440px) {
  /* .circle2 {
    bottom: 18%;
  }
  .circle3 {
    bottom: 35%;
  } */

  #switch {
    width: 10%;
  }
}
@media (min-width: 1920px) {
  .circles {
    margin-top: 4%;
    margin-left: -4%;
  }

  .circle {
    margin-top: -5%;
  }

  #switch {
    width: 10%;
    height: 30%;
  }
  /* grid item 2 */
  .itemMain2 {
    background-size: 60%;
  }
  .title-login {
    margin-left: -5%;
  }
}
@media (min-width: 2560px) {
  .circles {
    margin-top: 5%;
    margin-left: -5%;
  }

  .circle {
    margin-top: -7%;
  }

  .itemMain2 {
    background-size: 50%;
  }
}
